{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage",
          "corejs": 3,
          "targets": {
            "browsers": [">0.03%"]
          }
        }
      }
    ]
  ]
}
